<ion-view title="Everyday School">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block button-small">Class</button>
            <button class="button button-stable button-block button-small">Workshop</button>
            <button class="button button-stable button-block button-small">Course</button>
        </div>
        <form class="list"></form>
        <ion-list>
            <label class="item item-select">
                <span class="input-label">Subject</span>
                <select>
                    <option>All</option>
                    <option>Love &amp; Relationships</option>
                    <option>Creativity &amp; Arts</option>
                    <option>Career &amp; Business</option>
                    <option>Mind &amp; Body</option>
                    <option>Self-Development</option>
                </select>
            </label>
            <ion-item class="item-divider">January 2016</ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.everyday.school/sjalvmedkansla', '_system', 'location=yes'); return false;">
                <img src="img/F5T5YxEvS8GEtjZHJeaA_cute_girl-1385334.jpg">
                <h2>Självmedkänsla</h2>
                <p>January 13th 17:45-18:45</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.everyday.school/mindful-with-technology', '_system', 'location=yes'); return false;">
                <img src="img/qW4gcLckTGOE2HZWkm6g_work.jpg">
                <h2>Mindful with Technology</h2>
                <p>January 28th 08:00 - 09:30</p>
            </ion-item>
            <ion-item class="item-divider">February 2016</ion-item>
            <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.everyday.school/buddhist-meditation', '_system', 'location=yes'); return false;">
                <img src="img/iaLNZoFsRXiqsTuRJ20T_photo-1440470177828-6381dc5074ba.jpg">
                <h2>Buddhist Meditation</h2>
                <p>February 3rd - March 8th</p>
            </ion-item>
        </ion-list>
        <a href="#" onclick="window.open('http://everyday.school', '_system', 'location=yes'); return false;" class="button button-calm button-block  icon-left ion-home">Browse classes on website</a>
    </ion-content>
</ion-view>